{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %}

<div class="example-wrapper">
  {% include 'NavBar/navbar.html.twig' %}
  <h1>Hello {{ controller_name }}! ✅</h1>
  {% if app.user %}
    <h2>Welcome back, {{ app.user.username }}!</h2>
  <a href="{{ path('app_logout') }}">Logout</a>
  {% else %}
    <h2>Welcome to our site!</h2>
  <a href="{{ path('app_login') }}">Login</a>
  <a href="{{ path('app_register') }}">Register</a>
  {% endif %}
</div>
{% endblock %}
