<nav class="bg-blue-950 text-white px-6 py-4 flex justify-between items-center">
  <a href="/" class="text-2xl font-bold">ShirTeeZone</a>

  <div class="hidden md:flex space-x-6">
    <a href="/" class="hover:text-yellow-500">Accueil</a>
    <a href="#services" class="hover:text-yellow-500">Nos ervices</a>
    <a href="#" class="hover:text-yellow-500">A propos de nous</a>
    <a href="#" class="hover:text-yellow-500">Nous contacter</a>
  </div>

  <div class="flex items-center space-x-6">
    <div class="relative">
      <a href="{{ path('app_cart_detail') }}" class="hover:text-yellow-500">
        <i class="fas fa-shopping-cart text-xl"></i>
      </a>
      <span
        class="absolute -top-3 -right-3 bg-yellow-500 text-black text-xs font-bold px-2 py-0.5 rounded-full"
        >{{ cartItemCount }}
      </span>
    </div>

    {% if app.user %}
    <div class="relative group">
      <button class="flex items-center space-x-2 hover:text-yellow-500">
        <i class="fas fa-user"></i>
        <i class="fas fa-sort-down"></i>
        <span class="ml-2 hidden sm:inline">{{ app.user.username }}</span>
      </button>

      <div
        class="absolute right-0 w-48 bg-white text-black border-2 border-yellow-500 rounded-md shadow-lg z-50 hidden group-hover:block"
      >
        <ul class="py-2">
          <li>
            <a
              href="#"
              class="block px-4 py-2 hover:bg-blue-900 hover:text-white"
              >Mon profil</a
            >
          </li>
          {% if 'ROLE_ADMIN' in app.user.roles %}
          <li>
            <a
              href="{{ path('app_dashboard') }}"
              class="block px-4 py-2 hover:bg-blue-900 hover:text-white"
              >Dashboard</a
            >
          </li>
          {% else %}
          <a
            href="#"
            class="block px-4 py-2 hover:bg-blue-900 hover:text-white"
          >
            Mes commandes</a
          >
          {% endif %}

          <li>
            <a
              href="{{ path('app_logout') }}"
              class="block px-4 py-2 text-red-600 hover:bg-blue-900"
              onclick="return confirm('Voulez-vous vraiment vous déconnecter ?');"
              >Se déconnecter</a
            >
          </li>
        </ul>
      </div>
    </div>
    {% else %}
    <div class="space-x-4">
      <a href="{{ path('app_login') }}" class="hover:text-gray-300">Login</a>
      <a href="{{ path('app_register') }}" class="hover:text-gray-300"
        >Register</a
      >
    </div>
    {% endif %}
  </div>
</nav>
