<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6 text-center text-blue-950">
    Résumé de votre commande
  </h1>

  <div class="bg-white shadow rounded-lg p-6 border border-gray-300 mb-6">
    <p class="mb-2">
      <strong class="text-blue-950">Commande n° :</strong> 2025{{ order.id }}
    </p>
    <p class="mb-2">
      <strong class="text-blue-950">Adresse de livraison :</strong>
      {{ order.deliveryAddress }}
    </p>
    <p class="mb-4">
      <strong class="text-blue-950">Statut :</strong> {{ order.status }}
    </p>

    <h2 class="text-xl font-semibold text-blue-950 mb-4">Articles :</h2>
    <ul class="space-y-2">
      {% set total = 0 %} {% for item in order.items %} {% set total = total +
      (item.price * item.quantity) %}
      <li class="border-b pb-2">
        {{ item.product.productName }} –
        <span class="text-sm text-gray-700"
          >Quantité : {{ item.quantity }}</span
        >
        –
        <span class="text-sm text-gray-700"
          >Prix : {{ item.price|number_format(2, '.', ',') }}€</span
        >
      </li>
      {% endfor %}
    </ul>

    <p class="mt-6 text-right font-semibold text-lg">
      Total : {{ total|number_format(2, '.', ',') }} €
    </p>
  </div>

  <div class="flex justify-center space-x-4">
    <form method="post" action="{{ path('order_confirm', { id: order.id }) }}">
      <button
        type="submit"
        class="bg-yellow-500 hover:bg-blue-950 text-white font-semibold px-6 py-3 rounded transition duration-300"
      >
        Confirmer la commande
      </button>
    </form>

    <form
      method="post"
      action="{{ path('order_cancel', { id: order.id }) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir annuler cette commande ?');"
    >
      <button
        type="submit"
        class="bg-red-600 hover:bg-red-800 hover:cursor-pointer text-white font-semibold px-6 py-3 rounded transition duration-300"
      >
        Annuler la commande
      </button>
    </form>
  </div>
</div>
